{{> test}}
<h1>Sửa SẢN PHẨM</h1>
<div class="mt-4">
    <form method="POST" action="/admin/sua/san-pham/{{product.product_ID}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" value="{{product.name}}" />
        </div>

        <select class="form-control form-control-sm checkbox-select-all-options" name="categoryID">

            {{#each category}}
            {{#if (compare product.categoryID this.category_ID)}}
            <option value="{{this.category_ID}}"> {{this.name}}</option>
            {{else}}
            <option value="{{this.category_ID}}">{{this.name}}</option>
            {{/if}}
            {{/each}}

        </select>
        <div class="form-group">
            <label for="quantity">Số lượng</label>
            <input type="number" class="form-control" id="quantity" name="quantity" value="{{product.quantity}}" />
        </div>

        <div class="form-group">
            <label for="price">Giá</label>
            <input type="number" class="form-control" id="price" name="price" value="{{product.price}}" />
        </div>
        <div class="form-group">
            <label for="salePrice">Giá khuyến mãi (Nếu có)</label>
            <input type="number" class="form-control" id="salePrice" name="salePrice" value="{{product.salePrice}}" />
        </div>
        <div class="form-group">
            <label for="des">Giới thiệu sản phẩm</label>
            <input type="text" class="form-control" id="des" name="des" value="{{product.des}}" />
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" id="image" name="image" value="{{product.image}}" />
        </div>

        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
</div>